

.formControl.error input,
.formControl.error textarea
{
    border: 1px red solid;
}

.formControl.error span
{
   color: darkred;
}

.formSummaryError {
    border: darkred 1px solid;
    padding: 5px;
    color: darkred;
    max-width: max-content;
}