.app-wrapper {
    width: 100%;
    margin: 0 auto;
    display: grid;

    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    background-color: darkkhaki;
    grid-area: c;
    padding: 10px;
}

.app-wrapper-content img {
    background-color: #7a7e61;
    grid-area: c;
    padding: 2px;
    justify-items: auto;
}

